<p id="notice"><%= notice %></p>

<h1>Listing Katas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Movements</th>
	  <th>Movement Links</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @katas.each do |kata| %>
      <tr>
        <td><%= kata.title %></td>
        <td><%= kata.url %></td>
        <td><%= kata.movements %></td>
		<td><%= kata.movement_links %></td>
        <td><%= link_to 'Show', kata %></td>
        <td><%= link_to 'Edit', edit_kata_path(kata) %></td>
        <td><%= link_to 'Destroy', kata, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kata', new_kata_path %>
